[Unit]
Description=MetroPi Service
After=multi-user.target

[Service]
Type=idle

User=pi
ExecStart=/bin/bash -c 'source /home/pi/metropi/venv/bin/activate && /home/pi/metropi/venv/bin/python /home/pi/metropi/main.py'

Restart=always
RestartSec=0
RuntimeMaxSec=3600

[Install]
WantedBy=multi-user.target
